/* default color: #ffa200 */
#mainmenu li li a:hover,
.price-row,
.blog-list .date,
.blog-read .date,
.slider-info .text1,
#filters a.selected,
.btn-primary,
.bg-id-color,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.dropcap,
.fullwidthbanner-container a.btn,
.feature-box-big-icon i,
#testimonial-full,
.icon-deco i,
.blog-list .date-box .day,
.bloglist .date-box .day,
.feature-box-small-icon .border,
.small-border,
#jpreBar,
.de-gallery .overlay .icon i,
.date-post,
.team-list .small-border,
.de-team-list .small-border,
.btn-border:hover,a.btn-border:hover,
.btn-border.hover,a.btn-border.hover,
#contact_form input[type=submit]:hover,
.owl-arrow span,
.de-progress .progress-bar,
#btn-close-x:hover,
.box-fx .info
{
	background-color:#234058;
}

a,
.feature-box i,
.date-box .day,
.slider_text h1,
.pricing-box li h1,
.title span,
i.large:hover,
.feature-box-small-icon-2 i,
address span i,
.pricing-dark .pricing-box li.price-row,
.pricing-dark .pricing-box li.price-row,
.dark .feature-box-small-icon i,
a.btn-slider:after,
a.btn-border:after,
.team-list .social a,
.de_contact_info i,
.de_count,
.de_testi blockquote:before,
.social-icons i,
.dark .btn-border:hover:after, .dark a.btn-border:hover:after, .dark a.btn-border.hover:after,
a.btn-text:after
{
	color:#234058;
}

header.smaller #mainmenu a:hover,
header.smaller #mainmenu a.active,
.feature-box-small-icon i,
.id-color,
#mainmenu a.active,
#mainmenu a:hover,
#mainmenu li:hover > ul
{
	color:#ffa200;
}



.feature-box i,
#filters a:hover,
#filters a.selected,

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
.feature-box-big-icon i:after,
.social-icons i,
.btn-border:hover,a.btn-border:hover,
.btn-border.hover,a.btn-border.hover
{

	border-color:#ffa200;
}

.box-fx .inner,
.dark .box-fx .inner{
	border-bottom-color:#234058;
}

.callbacks_nav {
	background-color:#234058;
}

.widget_category li{
border-left:solid 3px #234058;
}

.de_tab .de_nav li span {
border-top: 3px solid #234058;
}

.feature-box-big-icon i:after {
border-color: #234058 transparent; /*same colour as the lower of the bubble's gradient*/
}

.de_review li.active img{
	border:solid 4px #234058;
}

.red{color:#ff0000 !important;}
.teal{color:#009999 !important;}
.purple{color:#663366 !important;}
.green{color:#009900 !important;}

